body{
  background-color: #fff9eb;
}
.logoImg{
  width:120px;
  }

.mainLinks{
  text-decoration: none;
  color: #fff9eb;
  font-family: 'DM Sans', sans-serif;
  font-size: large;
}
.mainLinks:hover{
  color: #ffcc53;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1c224b;
  position: sticky;
  top:0;
  z-index: 100;
}
.basket{
  width: 30px;
}
.hamIcon{
  font-size: 25px;
  color: #fff9eb;
  display: none;
}
.hamIcon:hover{
  color: #ffcc53;
  cursor: pointer;
}

/* Sidebar */
.sidebar{
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100vh;
  width: 300px;
  padding: 3rem 0;
  background-color: #1c224b63;
  backdrop-filter: blur(10px);
  overflow: hidden;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}
.closeSidebarContainer{
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}
.closeSidebar{
  background-color: transparent;
  border: none;
  color: #fff9eb;
  font-size: 16px;
}
.closeSidebar:hover{
  color: #ffcc53;
  cursor: pointer;
}
.sidebarLinks{
  display: flex;
  flex-direction: column;
}
.sidebarLink{
  text-decoration: none;
  color: #fff9eb;
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  margin: 10px;
}
.sidebarLink:hover{
  cursor: pointer;
  color: #ffcc53;
}

/* MY BASKET PAGE */
.basketName{
  font-family: 'DM Sans', sans-serif;
  font-size: 30px;
  color: #1c224b;
}
.mybasketContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffcb534e;
  padding-top: 30px;
  padding-bottom: 30px;
}
.basketItemContainer{
  display: flex;
  background-color: #fff9eb;
  width: 800px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.nameBox{
  display: flex;
  width: 400px;
  flex-wrap: wrap;
}
.imgInCart{
  width: 60px;
}
.deleteIcon{
  width: 30px;
}
.deleteIcon:hover{
  cursor: pointer;
}
.basketPrice{
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  color: #1c224b;
}
.paymentBtn{
  cursor: pointer;
  padding: 8px;
  font-family: 'DM Sans', sans-serif;
  margin-left: 15px;
  font-size: 15px;
  color: #1c224b;
  background-color: #ffcc53;
  border: none;
  margin:5px;
  font-size: 16px;
  font-weight: bolder;
}
.paymentBtn:hover{
background-color: #1c224b;
color: #fff9eb;
}

/* CAROUSEL */

.flyersMainContainer{
display: flex;
justify-content: center;
background-color: #1c224b;
width: 100%;
}
.flyersContainer{
  width: 960px;
}

.card{
  padding: 20px;
}
.videoSize{
  width: 850px;
}
.imageSize{
  width: 800px;
  height: 550px;
}


/* NEW MENU CONTAINER */
.newMenuPhoto{
  width: 200px;
}
.findOutMore{
  display: flex;
  align-items: center;
}
.newMenuContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.photoWArrowsBox{
  display: flex;
  align-items: center;
  justify-content: center;
}
.newMenuBox{
  display: flex;
  align-items: flex-start;
}
.newMenuMiniBox{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 40px;
  height: 300px;
  width: 200px;
}
.itemNameBox{
width: 200px;  
}
.container{
  display: flex;
  justify-content: center;
}
.moreLink{
  text-decoration: none;
  color: #1c224b;
}


.moreLink:hover{
  cursor: pointer;
  color: #ffcc53;
}
.newMenuContainerText{
color: #1c224b;
font-family: 'DM Sans', sans-serif;
}
.menuArrowTwo{
  border-radius: 50%;
  width: 1.7rem;
  height: 1.7rem;
  cursor: pointer;
}
.menuArrowTwo:hover{
  background-color: #1c224b;
  color: #fff9eb;
}
.slidemenu{
  transition: all 1s ease;
}
.currentmenu{
  opacity: 1;
  transform: translateX(0);
}


/* REVIEW */

.containerWArrows{
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviewArrow{
  border-radius: 50%;
  border: 1px solid #1c224b;
  width: 1.7rem;
  height: 1.7rem;
  cursor: pointer;
  color: #1c224b;
  background-color: #fff9eb;
}
.reviewArrow:hover{
  background-color: #1c224b;
  color: #ffcc53;
}
.prevArrow{
  margin-right: 40px;
}
.nextArrow{
  margin-left: 40px;
}
.reviewBox{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
.feedbackMain{
  display: flex;
  justify-content: center;
  margin-top: 60px;
  background-image: url("https://wallpapercave.com/dwp2x/wp4087593.jpg");
  background-size: cover;
  height: 600px;
}
.feedbackBox{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff9eb;
  padding: 35px;
  border: 3px solid #1c224b;
  width: 300px;
  height: 300px;
  margin-top: 10px;
}
.img-container{
display: flex;
}
.feedbackText{
  color: #1c224b;
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
}
.person-img{
  border-radius: 50%;
  width: 110px;
  height: 110px;
  border: 2px solid #1c224b;
  display: block;
  object-fit: cover;
  padding: 20px;
  background-color: #1c224b;
}
.quote-icon{
  color: #ffcc53;
  font-size: 2rem;
  position: absolute;
  margin-top: 116px;
  margin-left: 105px;
  rotate: 20grad;
}
.author{
  font-family: 'DM Sans', sans-serif;
  color: #1c224b;
}
.fav{
  color: #1c224b;
  background-color: #ffcc53;
  font-size: 14px;
}
.infoText{
  font-family: 'DM Sans', sans-serif;
  color: #1c224b;
  font-size: 12px;
}


/* MENU*/
.MenuBox{
  display: flex;
}
.categoryNames{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.categorySelected{
  padding: 8px;
  font-family: 'DM Sans', sans-serif;
  margin-left: 15px;
  font-size: 15px;
  color: #1c224b;
  background-color: #ffcc53;
  border: none;
  margin:5px;
}
.categorySelected:hover{
  color: #fff9eb;
  background-color: #4b9960;
  cursor: pointer;
  margin:5px;
}
.categoryButtonSelected{
  padding: 8px;
  font-family: 'DM Sans', sans-serif;
  margin-left: 15px;
  font-size: 15px;
  color: #fff9eb;
background-color: #1c224b;
  border: none;
  margin:5px;
}
.categoryButton{
  cursor: pointer;
  padding: 8px;
  font-family: 'DM Sans', sans-serif;
  margin-left: 15px;
  font-size: 15px;
  color: #1c224b;
  background-color: #ffcc53;
  border: none;
  margin:5px;
}

.dishesContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}
.filterBox{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.categoryNames{
  display: flex;
}
.product-card{
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 30px;
  justify-content: space-between;
  height: 370px;
}
.dishName{
  font-family: 'DM Sans', sans-serif;
  color: #1c224b;
  font-size: 16px;
}
.product-card:hover{
background-color: #ffcb534e;
}
.priceBox{
  display: flex;
  justify-content: center;
}
.minusPlusBox{
  width: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.minusPlusBtn{
  background-color: #ffcc53;
  padding: 5px;
  border: none;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  color: #1c224b;
}
.minusPlusBtn:hover{
  background-color: #4b9960;
  cursor: pointer;
  color: #fff9eb;
}
.quantityNumber{
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  color: #1c224b;
}
.quantAddBox{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.addBtn{
  background-color: #ffcc53;
  padding: 5px;
  border: none;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  color: #1c224b;
  width: 120px;
}
.addBtn:hover{
  color: #fff9eb;
  cursor: pointer;
  background-color: #1c224b;
}


/* FOOTER */

.footerContainer{
  background-color: #1c224b;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
  color: #fff9eb;
  font-family: 'DM Sans', sans-serif;
  font-size: 15px;
}
.socialImgCont{
  width: 20px;
}
.contDetails{
  display: flex;
  align-items: center;
  justify-content: center;
}
.infoBox{
  display: flex;
  flex-direction: column;
}
.contPar{
cursor: pointer;
text-decoration: none;
color: #ffcc53;
padding: 4px;
}
.contPar:hover{
  color: #4b9960;
}
.socialMedia{
  display: flex;
  flex-direction: column;
}
.socialImg:hover{
  background-color: #4b9960;
  border-radius: 50%;
}
.socialImg{
  width: 30px;
  padding: 4px;
  margin: 10px;
  cursor: pointer;
}
.legalInform{
  font-size: 10px;
}
.toMyPage{
color: #fff9eb;
}
.toMyPage:hover{
  color: #ffcc53;
}

/* ABOUT US */

.aboutUsContainer{
  display: flex;
  flex-direction: column;
}
.videoStory{
  width: 750px;
}
.videoAndStory{
  display: flex;
  margin: 20px;
}
.WelcomeStoryh1{
color: #1c224b;
font-family: 'Caveat', cursive;
font-size: 40px;
}
.WelcomeStoryPar{
  font-family: 'DM Sans', sans-serif;
  color: #1c224b;
  font-size: 16px;
  line-height: 1.8;
}
.showMore{
  background-color: #ffcc53;
  color: #1c224b;
  font-family: 'Caveat', cursive;
  font-size: 16px;
  width: 170px;
  border: none;
  padding: 4px;
}
.showMore:hover{
  color: #fff9eb;
  background-color: #1c224b;
  cursor: pointer;
}

/* CONTACTS */
.contactsContainer{
font-family: 'DM Sans', sans-serif;
color: #1c224b;
display: flex;
flex-direction: column;
align-items: center;
}
.contactsH1{
  margin-top: 50px;
}
.mapAndContacts{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  align-items: center;
}
.contDetailsB{
  display: flex;
  align-items: center;
}
.phoneAndAddress{
  display: flex;
  flex-direction: column;
  margin: 50px;
}
.socialImgContB{
  width: 30px;
}
.contParB{
  font-size: 16px;
}
.contParB:hover{
  cursor: pointer;
}
.mapImg{
  width: 600px;
}
.mediaBlue{
  width: 40px;
  margin: 10px;
}
.mediaBlue:hover{
  background-color: #ffcc53;
  cursor: pointer;
  padding: 3px;
  border-radius: 50px;
}
.footerAddition{
  margin-top: 50px;
}


/* ACCORDION */
.accordionContainer{
width: 100%;
padding: 0px;
}
.active {
  padding: 10px 40px;
  background-color: #4b9960;
  cursor: pointer;
  font-family: 'DM Sans', sans-serif;
  color: #fff9eb;
  display: flex;
  justify-content: center;
  font-size: 20px;
  }
  
  .default {
  padding: 10px 30px;
  font-size: 20px;
  background-color: #ffcc53;
  cursor: pointer;
  margin-top: 5px;
  font-family: 'DM Sans', sans-serif;
  color: #1c224b;
  display: flex;
  justify-content: center;
  }
  
  .content {
  padding: 50px 30px;
  font-family: 'DM Sans', sans-serif;
  color: #1c224b;
  display: flex;
  justify-content: center;
  }
  /* POPUP */
  .popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffffbc;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popup-inner{
    position: relative;
    width: 650px;
  }
  .popup-inner .close-btn{
    position: absolute;
    font-size: 16px;
    top: 5px;
    right: 5px;
    background-color: #1c224b;
    color: #fff9eb;
    border: none;
  }
  .close-btn:hover{
    color: #ffcc53;
  }

 .buttonSignUp{
  background-color: #1c224b;
  border: none;
 }
 .divPromo{
  background-color: #ffcc53;
  height: 550px;
 }
 .promoPhoto{
  width: 350px;
 }
 .detailsBarWrapper{ 
 position: relative;
 display: flex;
 align-items: center;
 height: auto;
 background-color: #1c224b;
 
 }
 .contactWrapper{
  margin-left: 10px;
  padding: 10px;
 }
 .promoH3{
  color: #1c224b;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
 }
 .infoPromo{
  display: flex;
  justify-content: center;
 }
 .promoP{
  color: #ffcc53;
  font-family: 'DM Sans', sans-serif;
  font-size: 10px;
 }
.messageInput{
  width: 200px;
  color: #1c224b;
  font-size: 12px;
  padding: 5px;
  border: none;
  background-color: #fff9eb;
  font-family: 'DM Sans', sans-serif;
}
.inputName{
  color: #ffcc53;
  font-family: 'DM Sans', sans-serif;
}
.signingUpContainer{
  display: flex;
  flex-direction: column;
}
.submitBtn{
  margin-top: 20px;
  bottom: 10px;
  right: 10px;
  background-color: #ffcc53;
  color: #1c224b;
  border: none;
  border-radius: 5px;
  padding: 12px 24px 12px 24px;
  cursor: pointer;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
}
.submitBtn:hover{
background-color: #4b9960;
}
.infoSpan{
  font-size: x-large;
}



/* RESPONSIVE DESIGN */

@media all and (max-width:900px){
  .videoSize{
    width: 600px;
  }
  .imageSize{
    width: 600px;
    height: 400px;
  }
  .flyersContainer{
    width: 700px;
  }
  .card{
    padding: 10px;
  }
  .slick-track{
    width: 600px;
  }
  .newMenuMiniBox{
    padding: 10px;
  }
  .newMenuPhoto{
    width: 180px;
  }
  .videoStory{
    width: 500px;
  }
  .videoAndStory{
    flex-direction: column;
    align-items: center;
  }
    .contactsH1{
      margin-top: 30px;
    }
    .mapAndContacts{
      flex-direction: column;
    }
    .phoneAndAddress{
      margin: 20px;
    }
    .mapImg{
      width: 600px;
    }
}

@media all and (max-width:1050px){
  .videoAndStory{
    flex-direction: column;
    align-items: center;
  }
  .videoStory{
    width: 600px;
  }
}

@media all and (max-width:500px){
  .logoImg{
    width:60px;
    }
    .hamIcon{
      font-size: 20px;
    }
    .basket{
      width: 20px;
    }
    .mainLinks{
      font-size: 14px;
    }
  .flyersMainContainer{
    width: auto;
  }
  .hamIcon{
    display: block;
  }
  .forBlock{
    display: none;
  }
  .videoStory{
    width: 300px;
  }
  .videoSize{
    width: 250px;
  }
  .imageSize{
    width: 250px;
    height: 150px;
  }
  .flyersContainer{
    width: auto;
  }
.MenuContainer{
  width: 375px;
}
  .card{
    padding: 10px;
  }
  .dishName{
    font-size: 10px;
  }
  .newMenuMiniBox{
    justify-content: center;
    padding: 5px;
    height: 150px;
    width: 200px;
    align-items: center;
  }
  .itemNameBox{
  width: 100px;  
  }
  .newMenuPhoto{
    width: 100px;
  }


  .popup-inner{
    width: 350px;
  }
  .popup-inner .close-btn{
    font-size: 10px;
    top: 10px;
    right: 10px;
  }
  .infoSpan{
    font-size: large;
  }
 .divPromo{
  height: 400px;
 }
 .promoPhoto{
  width: 170px;
 }
 .contactWrapper{
  margin-left: 10px;
  padding: 10px;
 }
 .promoH3{
  font-size: 12px;
 }
 .infoPromo{
  margin-left: 5px;
 }
 .promoP{
  font-size: 10px;
 }
.messageInput{
  width: 100px;
  font-size: 10px;
}
.submitBtn{
  padding: 5px 10px 5px 10px;
  font-size: 12px;
}

.reviewArrow{
  width: 1rem;
  height: 1rem;
}
.prevArrow{
  margin-right: 10px;
}
.nextArrow{
  margin-left: 10px;
}
.feedbackMain{
  margin-top: 20px;
  height: 650px;
}
.feedbackBox{
  padding: 35px;
  width: 200px;
  height: 400px;
}

.product-card{
  padding: 10px;
}
/* .filterBox{
  flex-wrap: wrap;
} */

.mapImg{
  width: 200px;
}
.contactsH1{
  font-size: 25px;
}

.footerContainer{
  padding: 10px;
  font-size: 10px;
}
.socialImgCont{
  width: 10px;
}
.socialImg{
  width: 15px;
}
.legalInform{
  font-size: 5px;
}



}
