body{
  background-color: #fff9eb;
}
.logoImg{
  width:120px;
  }

.mainLinks{
  text-decoration: none;
  color: #fff9eb;
  font-family: 'DM Sans', sans-serif;
  font-size: large;
}
.mainLinks:hover{
  color: #ffcc53;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1c224b;
  position: sticky;
  top:0;
  z-index: 100;
}


/* CAROUSEL */

.flyersMainContainer{
display: flex;
justify-content: center;
background-color: #1c224b;
}
.flyersContainer{
  width: 960px;
}
.card{
  padding: 20px;
}
.videoSize{
  width: 850px;
}
.imageSize{
  width: 800px;
  height: 550px;
}



/* REVIEW */

.containerWArrows{
  display: flex;
  align-items: center;
}
.reviewArrow{
  border-radius: 50%;
  border: 1px solid #1c224b;
  width: 1.7rem;
  height: 1.7rem;
  cursor: pointer;
  color: #1c224b;
  background-color: #fff9eb;
}
.reviewArrow:hover{
  background-color: #1c224b;
  color: #ffcc53;
}
.prevArrow{
  margin-right: 40px;
}
.nextArrow{
  margin-left: 40px;
}
.reviewBox{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
.feedbackMain{
  display: flex;
  justify-content: center;
  margin-top: 60px;
  /* background-color: #1c224b; */
  background-image: url("https://wallpapercave.com/dwp2x/wp4087593.jpg");
  background-size: cover;
  height: 600px;
}
.feedbackBox{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff9eb;
  padding: 35px;
  border: 3px solid #1c224b;
  width: 300px;
  height: 300px;
  margin-top: 10px;
}
.img-container{
display: flex;
}
.feedbackText{
  color: #1c224b;
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
}
.person-img{
  border-radius: 50%;
  width: 110px;
  height: 110px;
  border: 2px solid #1c224b;
  display: block;
  object-fit: cover;
  /* position: absolute; */
  padding: 20px;
  background-color: #1c224b;
}
.quote-icon{
  color: #ffcc53;
  font-size: 2rem;
  position: absolute;
  margin-top: 116px;
  margin-left: 105px;
  rotate: 20grad;
}
.author{
  font-family: 'DM Sans', sans-serif;
  color: #1c224b;
}
.fav{
  color: #1c224b;
  background-color: #ffcc53;
  font-size: 14px;
}
.infoText{
  font-family: 'DM Sans', sans-serif;
  color: #1c224b;
  font-size: 12px;
}

/* MENU */

.product-card{
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 30px;
  font-family: 'DM Sans', sans-serif;
  color: #1c224b;
  font-size: 15px;
}
.itemsBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;

}
.filterBox{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.filterButton{
  padding: 8px;
  font-family: 'DM Sans', sans-serif;
  margin-left: 15px;
  font-size: 15px;
  color: #1c224b;
  background-color: #ffcc53;
  border: none;
}
.filterButton:hover{
  color: #fff9eb;
  background-color: #4b9960;
  cursor: pointer;
}
.nameAndPrice{
  display: flex;
  flex-direction: column;
}

/* FOOTER */

.footerContainer{
  background-color: #1c224b;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
  color: #fff9eb;
  font-family: 'DM Sans', sans-serif;
  font-size: 15px;
}
.socialImgCont{
  width: 20px;
}
.contDetails{
  display: flex;
  align-items: center;
  justify-content: center;
}
.contPar{
cursor: pointer;
}
.contPar:hover{
  color: #4b9960;
}
.socialMedia{
  display: flex;
  flex-direction: column;
}
.socialImg:hover{
  background-color: #4b9960;
  border-radius: 50%;
}
.socialImg{
  width: 30px;
  padding: 4px;
  margin: 10px;
  cursor: pointer;
}
.legalInform{
  font-size: 10px;
}
.toMyPage{
color: #fff9eb;
}
.toMyPage:hover{
  color: #ffcc53;
}

/* ABOUT US */

.aboutUsContainer{
  display: flex;
  flex-direction: column;
}
.videoStory{
  width: 750px;
}
.videoAndStory{
  display: flex;
  margin: 20px;
}
.WelcomeStoryh1{
color: #1c224b;
font-family: 'Caveat', cursive;
font-size: 40px;
}
.WelcomeStoryPar{
  font-family: 'DM Sans', sans-serif;
  color: #1c224b;
  font-size: 16px;
  line-height: 1.8;
}
.showMore{
  background-color: #ffcc53;
  color: #1c224b;
  font-family: 'Caveat', cursive;
  font-size: 16px;
  width: 170px;
  border: none;
  padding: 4px;
}
.showMore:hover{
  color: #fff9eb;
  background-color: #1c224b;
  cursor: pointer;
}

/* CONTACTS */
.contactsContainer{
font-family: 'DM Sans', sans-serif;
color: #1c224b;
display: flex;
flex-direction: column;
align-items: center;
}
.contactsH1{
  margin-top: 50px;
}
.mapAndContacts{
  display: flex;
  /* width: 1000px; */
  justify-content: space-around;
  margin-top: 20px;
  align-items: center;
}
.contDetailsB{
  display: flex;
  align-items: center;
}
.phoneAndAddress{
  display: flex;
  flex-direction: column;
  margin: 50px;
}
.socialImgContB{
  width: 30px;
}
.contParB{
  font-size: 16px;
}
.contParB:hover{
  cursor: pointer;
}
.mapImg{
  width: 600px;
  /* border: 15px solid #1c224b; */
}
.mediaBlue{
  width: 40px;
  margin: 10px;
}
.mediaBlue:hover{
  background-color: #ffcc53;
  cursor: pointer;
  padding: 3px;
  border-radius: 50px;
}
.footerAddition{
  margin-top: 50px;
}

/* ACCORDION */
.accordionContainer{
width: 1000px;
padding: 30px;
}
.active {
  padding: 10px 40px;
  background-color: #4b9960;
  cursor: pointer;
  font-family: 'DM Sans', sans-serif;
  color: #fff9eb;
  display: flex;
  justify-content: center;
  font-size: 20px;
  }
  
  .default {
  padding: 10px 30px;
  font-size: 20px;
  background-color: #ffcc53;
  cursor: pointer;
  margin-top: 5px;
  font-family: 'DM Sans', sans-serif;
  color: #1c224b;
  display: flex;
  justify-content: center;
  }
  
  .content {
  padding: 50px 30px;
  font-family: 'DM Sans', sans-serif;
  color: #1c224b;
  display: flex;
  justify-content: center;
  }




