.findOutMore{
    display: flex;
    align-items: center;
  }
  .newMenuContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .newMenuBox{
    display: flex;
  }
  .newMenuMiniBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    padding: 40px;
  }
  .container{
    display: flex;
    justify-content: center;
  }
  .moreLink:hover{
    cursor: pointer;
    color: #ffcc53;
  }
  .newMenuContainerText{
  color: #1c224b;
  font-family: 'DM Sans', sans-serif;
  }
  .itemName{
    font-family: 'DM Sans', sans-serif;
    color: #1c224b;
  }
  .menuArrowTwo{
    border-radius: 50%;
    width: 1.7rem;
    height: 1.7rem;
    cursor: pointer;
  }
  .menuArrowTwo:hover{
    background-color: #1c224b;
    color: #fff9eb;
  }
  .slidemenu{
    transition: all 1s ease;
  }
  .currentmenu{
    opacity: 1;
    transform: translateX(0);
  }